html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.resource-form{
  margin-top: 50px;
}

.active-resource{
background-color: #3140aa;
padding: 25px;
text-align: center;
color: #ffffff;
height: 300px;
}
.active-resource .resource-name{
  font-size: 30px;
  height: 50px;
}

.active-resource .elapsed-time{
  font-size: 64px;
  font-weight: bold;
  
}
.active-resource .time-wrapper{
  height: 100px;
}
.tag.resource-complete{
background-color: gold ;
}
.tag.resource-inactive{
  background-color: #2d8bff;
  color: #ffffff;
}
.tag.resource-active{
  background-color: #0fd60f ;
  color: #ffffff;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
